html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: whitesmoke;
  height: 100%;
  padding: 0;
  margin: 0;
}
main {
  height: 100%;
  flex-direction: column;
  display: flex;
}
#logo {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  gap: 1rem;
}
#from {
  padding: 10px;
  display: flex;
  justify-content: end;
  text-align: center;
  gap: 6px;
  font-size: 8px;
  color: grey;
}

a {
  text-decoration: none;
}
